:root {
    --border-width : 6px;
    --Background-color : rgba(255, 255, 255, .75);
}

* , *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, rgb(82, 194, 238), rgb(120, 197, 117));
}

.battery {
    display: flex;
    flex-grow: stretch;
    width: 600px;
    height: 300px;
    border: var(--border-width) solid var(--Background-color);
    border-radius: 30px;
    position: relative;
}

.battery::after {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 85px;
    background: var(--Background-color);
    top: 50%;
    left:calc(100% + var(--border-width));
    transform: translateY(-50%);
    border-radius: 0px 6px 6px 0px;
}

.cell {
    display: flex;
    width: 25%;
    background: var(--Background-color);
    margin: 10px 5px;
    opacity: 0;
}

.cell:first-child {
    margin-left: 10px;
    border-radius: 15px 0 0 15px;
}

.cell:last-child {
    margin-right: 10px;
    border-radius: 0 15px 15px 0;
}